$font-color-main:#1B1C21;
$font-color-secondary:#80949F;
$background-color-main:#FFFFFF;
$background-color-secondary:#F8F8F8;
$border-menu-btn-color:#1B1C21;
$border-bottom-color:#EAEAEA;
$border-btns-color:#B8FFEC;

