@import './_variables';

@font-face {
    font-family: TT Lakes Big;
    src: url("../../assets/font-style/TTLakes-Bold.ttf");
  }

.section__dialog-feedback {
    position: absolute;
    left: calc(100% - 513px);
}

.section__dialog-feedback:modal {
    border: none;
    min-height: 110vh;
    min-width: 513px;
    overflow-y: hidden;
    background: none;
}

.section__dialog-feedback__content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70px auto;
    border: none;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.section__dialog-feedback::backdrop {
    background: rgb(255, 255, 255);
    opacity: 0.7;
}

.section__dialog-feedback__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.section__dialog__form-wrapper {
height: 100vh;
max-width: 100%;
background-color:$background-color-main;
box-shadow: -4px 4px 25px rgba(0, 0, 0, 0.2);


}

.section__dialog__form-wrapper__form {
    margin: 0 auto;
    margin-top: 7px;
    width: 100%;
    height: 60%;
    background-color:$background-color-main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

    
    
    label {
        width: 90%;
    }
}

.section__dialog__input {
    width: 100%;
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid $border-bottom-color;
    color: $font-color-secondary;
}

.section__dialog__input-sms {
    text-align: start;
    width: 100%;
    padding: 25px 5px;
    border-radius: 4px;
    border: 1px solid $border-bottom-color;
    color: $font-color-secondary;
}

.section__dialog__form-wrapper__form__btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section__dialog__form-wrapper__form__btn-wrapper__btn {
    background: transparent;
    display: flex;
    border: none;
    width: 27%;
    justify-content: space-between;
    padding: 10px;
    background-color:$modalColor ;
    border-radius: 20px;
    margin-right: 10px;
}

.section__dialog__form-wrapper__form__btn-wrapper__btn__close {
    margin-top: 20px;
    background-color: transparent;
    border: none;

}

.section__dialog__form__p {
    width: 90%;
    line-height: 0.8rem;
    margin: 0 auto;
}

.section__dialog__form__p__span {
    color: $modalColor;
}


.section__dialog__form-wrapper__form__header-wrapper {
    font-family: TT Lakes Big;
    display: flex;
    width: 47%;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}



@media (width<=494px) {


    .section__dialog-feedback__btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 10%;
    }


    .section__dialog__form-wrapper__form__btn-wrapper__btn__close {
        margin-left: 10px;
    }

    .section__dialog-feedback {
        position: absolute;
        left: 0;
    }

    .section__dialog-feedback:modal {
        background-color: #fff;
        min-width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
    }

    .section__dialog-feedback__content-wrapper {
        
        grid-template-columns: 1fr;
        grid-auto-rows: max-content min-content;

    }

    .section__dialog__form-wrapper__form__header-wrapper {
        min-width: 207px;
    }

    .section__dialog__form-wrapper {
        box-shadow: none;
    }

    .section__dialog__form-wrapper__form__btn-wrapper__btn {
        max-width: 27%;
        margin-right: 10px;
    }

}
