@import './_variables';

.services-wrapper {
    background-color: $background-color-secondary;

}

.header-item {
width: 90%;
text-transform: uppercase;
margin: 0 auto;
font-weight: 100;
font-size: 16px;
text-align: left;
}

.services-swiper {
    height: 188px;
    max-width: 90%;
}

.services-container__swiper__swiper-wrapper__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 224px;
    height: 160px;
    border: 1px solid $border-bottom-color;
    background-color: $background-color-main;
    border-radius: 10px;
}

.services-container__swiper__swiper-wrapper__slide__svg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 96%;
}

.services-container__swiper__swiper-wrapper__slide__header {
    margin-left: 5%;
}

.services-container__swiper__swiper-wrapper__btn {
    width: fit-content;
    background-color: transparent;
    border: none;
    margin: 5px 0 0 10px;
    padding: 10px 0 10px 0;
}



@media(width<=320px) {

    .services-swiper::before{
        

        z-index: 1000;
        position: absolute;
        top: -79px;
        left:calc(100% - 24px);
        content: url('data:image/svg+xml,<svg width="24" height="260" viewBox="0 0 24 81" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="160" fill="url(%23paint0_linear_0_538)"/><defs><linearGradient id="paint0_linear_0_538" x1="19.9668" y1="6.80609" x2="0" y2="6.80609" gradientUnits="userSpaceOnUse"><stop offset="0.00036951" stop-color="%23F8F8F8"/><stop offset="1" stop-color="%23F8F8F8" stop-opacity="0.01"/></linearGradient></defs></svg>');
    }
}

@media(width<768px) {

    .services-swiper {
        height: 200px;
        max-width: 96%;
        margin-left: auto;
    }
    .services-container__swiper__swiper-wrapper__btn {
        display: none;
    }
}

@media(width>=768px) {

   

    .services-container__swiper__swiper-wrapper__btn {
        display: '';
        margin-left: 4%;
    }
}




