@font-face {
    font-family: TT Lakes Regular;
    src: url('./assets/font-style/TTLakes-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'TT Lakes Regular';
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}


/* common styles */

.main__nav {
    background-color: #fff;
}

.main__content-wrapper {
    padding: 0px;
    background-color: #F8F8F8;
}

.main__header h1 {
    font-weight:900;
}

.main__search-menu {
    display: flex;
    width: 1096px;
    height: 40px;
    margin-bottom: 20px;
}

.main__search-menu__button {
    width: 246px;
    padding: 8px;
    border-radius: 5px;
    border:none;
    background-color: transparent;
    
}

.main__search-menu__button:hover {

    border: 2px solid #B8FFEC;

}
.main__search-menu a {
    text-decoration: none;
    color:#80949F;
}

.main__article__button {

    border: none;
    background-color: transparent;
    margin: 10px 0 20px 20px;
}


/* mobile styles */


@media (width <= 320px) {


    .main {
        height: 100vh;
        width: 320px;
        height: fit-content; 
        
    }

    .main__nav {
        width: 320px;
        height: 88px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .main__nav__bigscr__p {
        display: none;
    }

    .main__nav__chat {
        display: none;
    }

    .main__nav__chat {
        display: none;
    }

    .main__nav__call {
        display: none;
    }
    
    .main__nav__bigscreen__divider {
        display: none;
    }

    .main .main__header {
        display: flex;  
    }

    .main__header__highlight {

        margin-right: 20px;
    }

    .main__search-menu__wrapper {
        display: flex;
        overflow-x: scroll;
        width: 320px;
    }

    .main__search-menu {
        display: flex;
        width: 1096px;
        height: 40px;
        margin-bottom: 20px;
    }

    .main__search-menu__button {
        width: 246px;
        padding: 8px;
        border-radius: 5px;
        border:none;
        background-color: transparent;
        
    }

    .main__search-menu__button:hover {

        border: 2px solid #B8FFEC;

    }

    .main__article {
        width: 100%;
    }

    .main__search-menu a {
        text-decoration: none;
        color:#80949F;
    }

    .main__bigscr__p {
        display: none;
    }

    .main__article__button {

        border: none;
        background-color: transparent;
        margin: 10px 0 20px 20px;
    }

    .main__img {
        width: 320px;
        height: 176px;
    }

}

/* medium screen styles */

@media  (width <= 768px) and (width > 320px) {

    .main {
        height: 100vh;
        width: 768px;    
    }

    .main__nav {
        width: 768px;
        display: flex;
        justify-content: space-around;
    }

    .main__nav__bigscr__p {
        display: none;
    }

    .main__nav__call {
        margin-left: 25%;
    }

    .main__header {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-between;
        margin-bottom: 20px;
        
    }

    .main__search-menu__wrapper {
        width: 768px;
        overflow-x: scroll;
    }

    .main__article {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 720px;
        height: 208px;
        display: flex;
        

    }

    .main__p__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: flex-start;
    }

}

/* big screen styles */

@media(width >= 1120px) {

    .main {
        width:1120px;
    }

    .main__content-wrapper {
        width: 100%;
    }

    .main__nav {
        display: flex;
        background-color: transparent;
        justify-content: space-around;
        width: 40%;
    }

    .main__nav__bars {
        display: none;
    }

    .main__nav__divider {
        display: none;
    }

    .main__nav__bigscreen__divider {
        display: none;
    }

    .main__nav__call {
        display: none;
    }

    .main__nav__chat {
        display: none;
    }

    .main__nav__profile {
        display: none;
    }

    .main__nav__logo {
        display: none;
    }

    .main__header {
        width: 25%;
        display: flex;
        justify-content: space-between;
    }

    .main__header h1 {
        width: fit-content;
    }

    .main__nav__and__header__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }

    .main__article {
        display: flex;
        
    }

}


