
body {
    margin: 0;
}

.main__search-menu button :hover {
    padding: 5%;
    border: 2px solid #B8FFEC;
    color: blue;
}

@media (min-width:320px) {
    .main {
        width: 320px;
        height: 88px;
        height: fit-content;
    }

    .main__nav {
        width: 100%;
        height: 88px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .main__header {
        display: flex;
        font-size: 28px;
        line-height: 40px;
    }

    .main__header__highlight {

        margin-right: 20px;
    }

    .main__search-menu {

        overflow: scroll;
        width: 1096px;
        display: flex;
        justify-content: space-around;
        
    }

    .main__search-menu a {
        border: none;
        text-decoration: none;
    }

    .main__img {
        width: 320px;
        height: 176px;
    }

}